@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&family=Lora:ital@1&family=Manrope:wght@400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --fontBody: 'Josefin Sans', sans-serif;
}

:root {
    --headingFont: 'Playfair Display', serif;
}

:root {
    --commonFont: 'Manrope', sans-serif;
}

* {
    font-family: var(--fontBody);
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.2 ease;
}



header {
    max-width: 100%;
    height: 4rem;
    background-color: #FFF;
    justify-content: space-between;



}

.logo-container {
    display: flex;
    margin-left: 1rem;

}

.logo {
    width: 40px;
    height: 40px;
}

.logo-text {
    font-family: var(--headingFont);
    font-weight: 600;
    font-size: 28px;
}

.number {
    color: #141414;
    font-family: var(--commonFont);
    font-weight: 600;


}

.phone .fa-phone-volume {
    margin-top: 1rem;

}

.fa-phone-volume {
    color: #7A9CA5;
    margin-left: 2rem;

}

.left {
    display: flex;

}

nav {

    display: flex;
    align-items: center;
    gap: 1rem;
}

nav a {
    color: #555;
    font-family: var(--commonFont);
    font-size: 1.125rem;
    font-weight: 400;

}

.head-top {
    display: flex;
    padding: 1.5rem 4rem;
    justify-content: space-between;
    align-items: center;

}

.right {
    display: flex;
    gap: 1rem;

}

.socialMedia {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.fa-brands {
    color: #141414;
}

.reservation {
    color: #FFF;
    background-color: #7A9CA5;
    border: none;
    width: 12rem;
    height: 3rem;
    font-size: 0.875rem;
    font-weight: 700;
    font-family: var(--commonFont);
    cursor: pointer;
    margin-top: 1rem;
}

.fa-calendar {
    margin-right: 0.5rem;
}

.leftSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EBF3F5;

}

.rightSection {
    background-image: url("./images/leftBackground.jpg");
    box-shadow: 0px 20px 60px 0px rgba(47, 68, 73, 0.46);
    display: flex;
    align-items: center;
    position: relative;

}

.container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100vh;
}

.text1 {
    width: 31rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;


}

.welcome {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;

}

.welcome h5 {
    color: #5C8692;
    font-family: var(--commonFont);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
}

.title {
    color: #141414;
    font-family: var(--headingFont);
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
}

p {
    color: #555;
    font-family: var(--commonFont);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.frame {
    width: 26rem;
    height: 33rem;
    border: 9px solid white;
    border-left: none;

}

.frameImage {
    width: 26rem;
    height: 27rem;
    object-fit: cover;
    position: absolute;
    top: 22%;
    left: -4rem;
    box-shadow: -93px 58px 98px -70px rgba(96, 93, 93, 0.75);
    -webkit-box-shadow: -93px 58px 98px -70px rgba(96, 93, 93, 0.75);
    -moz-box-shadow: -93px 58px 98px -70px rgba(96, 93, 93, 0.75);
}

.card {
    width: 20rem;
    height: 29rem;
    display: flex;
    flex-direction: column;
    border-radius: 10%;


}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1rem;
    gap: 2rem;

}

.cards {
    width: 100%;
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    gap: 4rem;



}

.cards h2 {
    font-family: var(--headingFont);
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    color: #141414;
}
.cards p{
font-family: var(--commonFont);
}
.card:hover{
    transform: scale(1.1);
    transition: 1.5s;
    /* background-color:#5C8692 ; */
    
}
.card:active{
    background-color:#5C8692 ;
}
.btn {
    border: 2px solid #5C8692;
    width: 7rem;
    height: 2rem;
    cursor: pointer;
}

.img-container img {
    width: 20rem;

    object-fit: cover;
    border-radius: 10%;
}